.register {
  background-color: #130a1c;
}

.reg-form {
  display: grid;
  justify-content: center;
}

.reg-form > h1 {
  text-align: center;
}

.logo {
  margin: auto;

  width: 178px;
  height: 156px;
  display: flex;
  justify-content: center;
}

input {
  background: #6a2889;
  width: 400px;
  height: 54px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
}

::placeholder {
  color: white;
  text-transform: capitalize;
}

.butin {
  background: #321e46;
  color: white;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: auto;
}

.log {
  color: #d3a4e9;
  text-decoration: none;
}

.instruction {
  color: white;
  margin: auto;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.instrut {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  width: 400px;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.form-item {
  display: grid;
}

.form-item > label {
  margin-bottom: 10px;
  color: #fff;
}
