.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #130a1c;
}

form {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 178px;
  height: 156px;
}

form > h1 {
  color: white;
  text-align: center;
}

input {
  background: #6a2889;
  width: 300px;
  height: 54px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
}

::placeholder {
  color: white;
  text-transform: capitalize;
}

.butin {
  background: #321e46;
  color: white;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: auto;
}

.register {
  color: white;
  text-decoration: none;
  margin: auto;
}
